name: Push to Docker Registry
on:
  workflow_call:
    inputs:
      image-name:
        required: true
        type: string
      docker-registry:
        type: string
      path:
        type: string
    secrets:
      docker-username:
        required: true
      docker-password:
        required: true

jobs:
  main-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2

      - name: Authenticate to the registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.docker-username }}
          password: ${{ secrets.docker-password }}
          registry: ${{ inputs.docker-registry }}

      - name: Build the docker image
        run: |
          if [ -z "${{ inputs.docker-registry }}" ]; then
            docker build -t ${{ inputs.image-name }} .
          fi
          if [ -n "${{ inputs.docker-registry }}" ]; then
            docker build -t ${{ inputs.docker-registry }}/${{ inputs.image-name }} .
          fi
          echo "Built the docker image"

      - name: Push the docker image
        run: |
          if [ -z "${{ inputs.docker-registry }}" ]; then
            docker push ${{ inputs.image-name }}
          fi
          if [ -n "${{ inputs.docker-registry }}" ]; then
            docker push ${{ inputs.docker-registry }}/${{ inputs.image-name }}
          fi
          echo "Pushed the docker image"