name: Push to Docker Registry
on:
  workflow_call:
    inputs:
      image-name:
        required: true
        type: string
      docker-username:
        required: true
        type: string
      docker-password:
        required: true
        type: string
      docker-registry:
        type: string
        
jobs:
  main-job:
    runs-on: ubuntu-latest
    steps:
      - name: Authenticate to the registry
        run: |
          echo ${{ inputs.docker-password }} | docker login -u ${{ inputs.docker-username }} --password-stdin ${{ inputs.docker-registry }}
          echo "Authenticated to the registry"

      - name: Build the docker image
        run: |
          if [ -z "${{ inputs.docker-registry }}" ]; then
            docker build -t ${{ inputs.image-name }} .
          fi
          if [ -n "${{ inputs.docker-registry }}" ]; then
            docker build -t ${{ inputs.docker-registry }}/${{ inputs.image-name }} .
          fi
          echo "Built the docker image"

      - name: Push the docker image
        run: |
          if [ -z "${{ inputs.docker-registry }}" ]; then
            docker push ${{ inputs.image-name }}
          fi
          if [ -n "${{ inputs.docker-registry }}" ]; then
            docker push ${{ inputs.docker-registry }}/${{ inputs.image-name }}
          fi
          echo "Pushed the docker image"